<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28518852738-nq3k0mg5jhmm40ifijet8gmflqtaonfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28518852738-nq3k0mg5jhmm40ifijet8gmflqtaonfi</string>
	<key>API_KEY</key>
	<string>AIzaSyBKu04hNJgy6B4oVV8_HNWrq-dLCpz2nEI</string>
	<key>GCM_SENDER_ID</key>
	<string>28518852738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arturlector.client-server-1788</string>
	<key>PROJECT_ID</key>
	<string>fir-january-1d4e4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-january-1d4e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28518852738:ios:6ee3b226b54c902f656c9b</string>
</dict>
</plist>